body{
    margin: 0;
    padding: 0;
}    
#box1{
    height: 100vh;
    width: 100%;
    background-image: url(../images/paralax3.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-position: center; 
    width: 100%;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url(../images/paralax6.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-position: center; 
    width: 100%;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url(../images/paralax7.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background-position: center; 
}
h1{
    font-family: arial black;
    font-size: 50px;
    color:white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-position: center; 
}

/* @media screen and (min-width:1200px){
    #box1{
        height: 100vh;
        width: 100%;
        background-image: url(../images/paralax3.jpg);
        background-size: cover;
        display: table;
        background-attachment: fixed;
    }
    #box2{
        height: 100vh;
        width: 100%;
        background-image: url(../images/paralax6.jpg);
        background-size: cover;
        display: table;
        background-attachment: fixed;
    }
    #box3{
        height: 100vh;
        width: 100%;
        background-image: url(../images/paralax7.jpg);
        background-size: cover;
        display: table;
        background-attachment: fixed;
    }
    h1{
        font-family: arial black;
        font-size: 50px;
        color:white;
        margin: 0px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    } 
} */