*{
  box-sizing: border-box;
}

*:focus{
  outline: none;
  background: #c9e6ff;
}
.pozadina{
  background: linear-gradient(to bottom, #076585, #fff); 
}

.container{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  height: auto; 
}


.okvir{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  padding: 10px; 
}


.logo{
  background:#e6f5ff;
}
.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  width: 50%;
  height: 50%;
}


.kontakt{
  background:#f9feff;
  padding: 10px;
}

.kontakt h3{
  margin-bottom: 10px;
  font-style: italic;
}



.kontakt form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.kontakt form label{
  display:block;
}

.kontakt form p{
  margin:0;
}

.kontakt form .full{
  grid-column: 1 / 3;
}

.kontakt form button, .kontakt form input, .kontakt form textarea{
  width:100%;
  padding:10px;
  border:1px solid #ccebff;
  border-radius: 10px;
}

.kontakt form button{
  background:#c9e6ff;
  border:0;
 
}

.kontakt form button:hover,.kontakt form button:focus{
  background:#33adff;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.error{
  color:  #ff0000;
  font-size: 10px;
  font-style: italic;
  visibility: hidden;
  margin: 0;
}


@media(min-width:768px){
  
  .okvir{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .centar img{
  margin-top: 40%;
  display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:300px;
	width:300px;
  }
  
  .error{
    color: red;
    font-size: 15px;
    font-style: italic;
    visibility: hidden;
    margin: 0;
  }
}

@media(min-width:1200px){
  .okvir{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  
}