* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  backface-visibility: hidden;
}


.karusel {
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  
}

.slider-for {
  
  max-width: 100%;
  height: auto;
  margin: 30px 20px 0;
  
}


.slider-for img {
  width: 100%;
  border: 10px solid rgba(189, 156, 156, 0.089);
  cursor: pointer;
}


.slider-nav img:hover { 
  transform: scale(1.2); 
   
}
.slider-nav {
  opacity: 0.7; 
  max-width: 100%;
  height: auto;
  margin: 0 40px 0px;
}

.slider-nav img {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}
div:active,div:focus{
  outline: none;
}


@media screen and (min-width:1200px){
  .slider-for {
    margin: 100px;
    outline: none; 
  }

  .slider-for img {
    width: 75%;
    margin: 0 auto;
    outline: none; 
    border: 15px solid rgba(189, 156, 156, 0.089);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;
  }
  .slider-nav {
    opacity: 0.7;
    margin: 0 auto; 
    width: 68%;  
  }

  .slider-nav img {
    margin: 30px; 
    
  }

  .slider-for img:hover{
    border: 70px solid rgba(0, 0, 0, 0.089);
    border-radius: 50%;
    
  }

  
}

