* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  backface-visibility: hidden;
}

.footer{
  background: linear-gradient(to bottom, #2c3e50, #4ca1af);
  width: 100%;
  height: 80px;
  border-top: solid 1px #1f2027;
  display: flex;
  flex-direction: row;
}

.slicica{
  display: block;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 10px;
  float: right;
  
}

.footer h4{
  font-size: 14px;
  color: #efefef;
  font-style: italic;
  margin-top: 25px;
  
}

.github{
  margin-top: 15px;
  margin-left: 20px;

  
}
.fsekcija{
  width: 33%;
}

@media screen and (min-width:1200px){
  .footer{
    height: 100px;
  }
  .slicica{
    display: block;
    border-radius: 5px;
    margin: 0;
    margin-right: 300px;
    margin-top: 20px;
    float: left;
  }
  
  .footer h4{
    font-size: 25px;
    color: #efefef;
    font-style: italic;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .github{
    margin-top: 20px;
    float: right;
    display: block;
  }
}

@media screen and (min-width:768px){
  .footer{
    height: 100px;
  }
  .slicica{
    display: block;
    float: left;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;

  }
  
  .footer h4{
    font-size: 25px;
    color: #efefef;
    font-style: italic;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  
  .github{
    margin-top: 20px;
    float: right;
    display: block;
  }
}