* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  backface-visibility: hidden;
}

 /* radi */
.slider-for,
.slider-nav {
   visibility: hidden;
   opacity: 0;  
   transition: opacity 0.1s;
}

.slider-for.slick-initialized,
.slider-nav.slick-initialized {
  visibility: visible;
  opacity: 1;
}
 
.slider-for .modal-open{
  display: none ;
}

.slider-for .modal-open:first-child {
  display: block; 
  visibility: hidden;
} 

.slider-for.slick-initialized .modal-open {
  display: block;
  visibility: visible!important;
}

/*radi*/

.karusel {
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  
}

.slider-for { 
  max-width: 100%;
  height: auto;
  margin: 30px 20px 0;
  
}

.slider-for img {
  width: 100%;
  /* border: 10px solid rgba(189, 156, 156, 0.089); */
  cursor: pointer;
  
}

.modal-open{
  overflow: hidden;
  
}


/* .img-nav img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-hover:hover .img-nav img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
} */



@keyframes example {
  from {transform: scale(1.0)}
  to {transform: scale(1.2)}
}
.slider-nav img:hover { 
  animation-name: example;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
  transform: scale(1.2)
}


.slider-nav {
  opacity: 0.7; 
  max-width: 100%;
  height: auto;
  margin: 0 40px 0px;
}

.slider-nav img {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}
div:active,div:focus{
  outline: none;
}


@media screen and (min-width:1200px){
  .slider-for {
    margin: 100px;
    outline: none; 
    overflow: hidden;
  }

  .slider-for img {
    width: 75%;
    margin: 0 auto;
    outline: none; 
    border: 15px solid rgba(189, 156, 156, 0.089);
  
  }
  .slider-nav {
    opacity: 0.7;
    margin: 0 auto; 
    width: 68%;  
  }

  .slider-nav img {
    margin: 30px; 
    
  }

  
  
}

